<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
	
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/vipsshinfo"></property>
		<property name="user" value="root"></property>
		<property name="password" value="kivasunhao"></property>
		<property name="maxPoolSize" value="40"></property>
		<property name="minPoolSize" value="1"></property>
		<property name="initialPoolSize" value="1"></property>
		<property name="maxIdleTime" value="20"></property>
	</bean>
	
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="mappingResources">
			<list>
				<value>com/entity/Member.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>
				<prop key="hibernate.current_session_context_class">
					org.springframework.orm.hibernate4.SpringSessionContext</prop>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
			</props>
		</property>
	</bean>
	
	<bean id="memberDao" class="com.dao.MemberDAOImpl">
		<constructor-arg><ref bean="sessionFactory"></ref></constructor-arg>
	</bean>
	<bean id="memberService" class="com.service.MemberServiceImpl">
		<property name="memberDao" ref="memberDao"></property>
	</bean>
	
	<bean id="memberRegisterAction" class="com.action.MemberRegisterAction">
		<property name="memberService" ref="memberService"></property>
	</bean>
	<bean id="memberLoginAction" class="com.action.MemberLoginAction">
		<property name="memberService" ref="memberService"/>
	</bean>
	<bean id="memberQueryAction" class="com.action.MemberQueryAction">
		<property name="memberService" ref="memberService"/>
	</bean>
	<bean id="memberDeleteAction" class="com.action.MemberDeleteAction">
		<property name="memberService" ref="memberService"/>
	</bean>
	<bean id="memberUpdateAction" class="com.action.MemberUpdateAction">
		<property name="memberService" ref="memberService"/>
	</bean>
</beans>
